source http://www.nuget.org/api/v2/

nuget Gu.State
nuget Gu.Wpf.NumericInput
nuget Gu.Units.Wpf
nuget Gu.Wpf.ValidationScope

nuget NUnit
nuget Moq
nuget TestStack.White

nuget JetBrains.Annotations
nuget StyleCop.Analyzers