source http://www.nuget.org/api/v2/

nuget Gu.Wpf.NumericInput ~> 0.5.3
nuget Gu.Units.Wpf ~> 0.10.6
nuget Gu.Wpf.ValidationScope ~> 0.1.5.2

group Test
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget NUnit
  nuget Moq
  nuget Gu.Wpf.UiAutomation

group Analyzers
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget StyleCop.Analyzers
  nuget WpfAnalyzers
  nuget Gu.Analyzers
  nuget JetBrains.Annotations

group Demo
  source http://www.nuget.org/api/v2/
  framework: >= net45
  nuget Gu.State